<!DOCTYPE html>
<html>
<head>
  <title>Order Canceled</title>
</head>
<body>
  <h1>Order Canceled</h1>
  <p>Your order has been canceled. If you have any questions, please contact customer support.</p>
  <!-- You can provide further instructions or links to relevant pages -->
</body>
</html>