<!-- Genre card -->
<div class="column is-one-third">
  <div class="card">
    <div class="card-content">
      <div class="content">
        <h3 class="title is-4"><%= genre.name %></h3>
        <p>Engage in fast-paced gameplay and thrilling combat.</p>
        <%= link_to "Explore", genre, class: "button is-primary" %>
      </div>
    </div>
  </div>
</div>